html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
  color: #414141;
}

.full-height {
  height: 100%;
}

.bg-img {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
